.btn {
    background: #ffa600;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 6px;
    text-decoration: none;
    cursor:pointer;
    font-size: .8em;
    padding: 18px 10px;
    width:180px;
    margin: 10px;
    outline: none;
}

.btn:hover {
    transition: all 0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #ffa600;
}