@import "variables";
@import "mixins";



.header {
  min-width: 320px;
  max-width: 1200px;
  padding: 30px 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: $header-background;
  @include flex-column;
  color: $heading-text-color;
  //position: relative;
  box-sizing: border-box;

  a {
    transition: color .2s ease-in-out;
    &:hover {
      color: white;
    }
  }
  .header__wrapper {
    @include flex-row;
    justify-content: space-between;
    width: 100%;

    .header__icon {
      width: 43px;
      height: 41px;
      background: url("../img/header-ico.png");
      z-index: 100;
      transition: background .2s ease-in-out;

      &:hover {
        background: url("../img/header-ico-hover.png");

        a {
          color: #fff;
        }

      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {

    .header__wrapper {
      .header__icon {

        a {
          display: none;
        }
      }

      .header__button {
        @include button;
        font-size: 15px;
      }

      .header__menu-burger {
        font-size: 26px;
        color: #fff;
        cursor: pointer;
      }
    }

    nav {
      display: none;
      position: absolute;
      top:105px;
      z-index: 1000;

      ul {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

        li {
          width: 90vw;
          display: flex;
          align-items: center;
          background: $text-color;
          padding: 30px 0;
          border-bottom: 1px solid grey;

          a {
            color: #FFF;
            font-size: 26px;
            margin-left: 50px;
          }

          &:hover {

            a{
              color: $heading-text-color;
            }

            &:before {
              content: "";
              position: absolute;
              display: block;
              width: 8px;
              height: 40px;
              background: $heading-text-color;
            }
          }
          

        }
      }
    }


  }



  @media screen and (min-width: 481px) and (max-width: 992px) {


    .header__wrapper {
      .header__icon {

        a {
          font-size: 24px;
          margin-left: 55px;
          line-height: 45px;
          vertical-align: center;
          font-weight: bold;
          color: $heading-text-color;

        }
      }
      .header__button {
        @include button;
        font-size: 16px;
      }

      .header__menu-burger {
        display: none;
      }
    }

    nav {
      padding-top: 15px;
      @include flex-row;
      width: 100%;

      ul {
        @include flex-row;
        list-style: none;


          a {
            color: $heading-text-color;
            font-size: 14px;
            margin: 0 16px;
            font-weight: bold;
          }


      }
    }

  }



  @media screen and (min-width: 993px) {

    .header__wrapper {

      .header__icon {
        margin-left: 50px;
        a {
          font-size: 24px;
          margin-left: 55px;
          line-height: 45px;
          vertical-align: center;
          font-weight: bold;
          color: $heading-text-color;

        }
      }
      .header__button {
        @include button;
        font-size: 16px;
        margin-right: 50px;
        z-index: 100;
      }

      .header__menu-burger {
        display: none;
      }
    }

    nav {
      @include flex-row;
      width: 100%;
      position: absolute;
      z-index: 1;

      ul {
        @include flex-row;
        list-style: none;


        a {
          color: $heading-text-color;
          font-size: 14px;
          margin: 0 16px;
          font-weight: bold;
        }


      }
    }
  }
}

