@import "variables";
@import "mixins";

.intro {
  height: 718px;
  position: relative;
  @include flex-column;
  justify-content: flex-start;
  color: #fff;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 100;
  background: #000;
  box-sizing: border-box;


  .wrapper {
    width: 95%;
    height: 718px;
    position: relative;
    @include flex-column;
    justify-content: flex-start;
    padding: 0 10px;
    color: #fff;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
    box-sizing: border-box;


    h1 {
      font-weight: bold;
      margin-top: 45px;
    }
  }

    @media screen and (min-width: 320px) and (max-width: 480px) {
      background: url("../img/intro-background-mobile.jpg") no-repeat;
      background-size: 100%;
      .wrapper {
        background: none;



        h1 {
          font-size: 48px;

        }

        span {
          font-size: 18px;
          color: $heading-text-color;
          line-height: 1.94;
          text-align: center;
          margin-top: 10px;

        }

        .secondary {
          font-size: 14px;
          color: $second-text-color;
        }

        .intro__button {
          @include button;
          position: absolute;
          top: 97%;
          font-size: 18px;
        }
      }
    }


  @media screen and (min-width: 481px) and (max-width: 992px) {
    .wrapper {
      background: url("../img/intro-background-tablet.jpg") no-repeat;
      background-size: 100%;
      background-position: 50%;


      h1 {
        font-size: 72px;

      }

      span {
        font-size: 25px;
        color: $heading-text-color;
        line-height: 1.94;
        text-align: center;
        margin-top: 10px;

      }

      .secondary {
        font-size: 14px;
        color: $second-text-color;
      }

      .intro__button {
        @include button;
        position: absolute;
        top: 97%;
        font-size: 21px;
      }
    }
  }

  @media screen and (min-width: 993px) {
    .wrapper {
      background: url("../img/intro-background-desktop.jpg") no-repeat;
      background-size: 100%;
      background-position: 50%;


      h1 {
        font-size: 72px;

      }

      span {
        font-size: 25px;
        color: $heading-text-color;
        line-height: 1.94;
        text-align: center;
        margin-top: 10px;

      }

      .secondary {
        font-size: 14px;
        color: $second-text-color;
      }

      .intro__button {
        @include button;
        position: absolute;
        top: 97%;
        font-size: 21px;
      }
    }
  }
}

