@import "variables";

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button {
  background-color: $button-background;
  color: $button-color;
  padding: 13px 25px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid $button-background;

  transition: background .2s ease-in-out, color .2s ease-in-out;

  &:hover {
    background-color: $button-color;
    color: $button-background;


  }
}


@mixin button-purchase {
  background: rgba(255, 255, 255, .15);
  color: $button-color;
  padding: 17px 37px;
  //border: 2px solid $button-background;

  border-radius: 50px;
  font-weight: bold;
  transition: background .2s ease-in-out, color .2s ease-in-out;



  &:hover {
    background-color: $button-color;
    color: #7f6d78;

  }
}