@import "variables";
@import "mixins";

.people-talk {
  @include flex-column;
  background: url('../img/people-talk-background-mobile.jpg') no-repeat;
  background-size: cover;
  padding: 35px 10px 0 10px;
  color: #fff;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-weight: bold;
  }

  .people-talk__content-wrapper {
    display: grid;
    grid-gap: 40px;
    align-items: center;
    justify-items: center;
    margin-top: 40px;


    .people-talk__content-container {
      @include flex-row;
      flex-wrap: wrap;

      p {
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-top: 30px;
      }
    }
  }

  .line {
    width: 80%;
    height: 2px;
    background: rgba(255, 255, 255, .5);
    margin: 60px 0;
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {


    h2 {
      font-size: 32px;
      line-height: 48px;
    }
    .people-talk__content-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      .people-talk__content-container {

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .outro-text {
      display: none;
    }

  }

  @media screen and (min-width: 481px) and (max-width: 992px) {

    h2 {
      font-size: 43px;
      line-height: 68px;
    }
    .people-talk__content-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      .people-talk__content-container {

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .outro-text {
      text-align: center;
      color: #fff;
      opacity: 0.4;
      margin-top: 50px;
      line-height: 140%;
    }

    .line {
      margin-top: 15px;
    }

  }

  @media screen and (min-width: 993px) {

    h2 {
      font-size: 48px;
      line-height: 68px;
    }
    .people-talk__content-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 15px;
      grid-row-gap: 45px;

      .people-talk__content-container {
        width: 90%;

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .outro-text {
      text-align: center;
      color: #fff;
      opacity: 0.4;
      margin-top: 50px;
      line-height: 140%;
    }

    .line {
      margin-top: 15px;
    }

  }


}