@import "variables";
@import "mixins";

.revolutionary-editor {

  @include flex-column;
  padding: 35px 10px 88px 10px;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  span {
    color: $second-text-color;
    text-align: center;
  }

  .secondary {
    color: $text-color;
    font-family: $text-font-family;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: bold;
    color: $heading-text-color;
    margin: 72px 0 28px 0;
    text-align: center;
  }

  .revolutionary-editor__buttons-container {
    @include flex-row;
    flex-wrap: wrap;

    .button-wrapper {
      @include flex-row;
      margin: 10px 10px;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 10px;
        font-size: 12px;
        line-height: 20px;
        color: #24292e;
        background-color: #eff3f6;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-repeat: repeat-x;
        background-position: -1px -1px;
        background-size: 110% 110%;
        border: 1px solid rgba(27, 31, 35, .2);
        border-radius: .25em;
        font-weight: 600;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;


        &:hover {
          background-color: #e6ebf1;
          background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
          background-position: -.5em;
          border-color: rgba(27, 31, 35, .35);
        }

        svg {
          margin-right: 5px;;
        }
      }

      .count {
        float: left;
        padding: 3px 10px;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        color: #24292e;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid rgba(27, 31, 35, .2);
        border-left: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:hover {
          color: #0366d6;
        }
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {

    span {
      font-size: 14px;
    }

    .secondary {
      font-size: 14px;
    }

    h2 {
      font-size: 26px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 992px) {

    span {
      font-size: 14px;
    }

    .secondary {
      font-size: 21px;
      line-height: 32px;
    }

    h2 {
      font-size: 43px;
    }
  }

  @media screen and (min-width: 993px) {
    span {
      font-size: 14px;
    }

    .secondary {
      font-size: 21px;
      line-height: 32px;
    }

    h2 {
      font-size: 55px;
    }
  }
}