@import "variables";
@import "mixins";

.subscription-pricing {
  background: $subscription-pricing-background;
  padding: 0 10px 35px 10px;
  color: #fff;
  @include flex-column;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
  }

  .subscription-pricing__price-wrapper {
    display: grid;
    grid-gap: 15px;

    .subscription-pricing__price-container {
      max-width: 270px;
      height: 455px;
      background: rgba(255, 255, 255, .11);
      @include flex-column;
      justify-content: space-between;
      margin-top: 14px;
      transition: transform .3s ease-in-out;


      .subscriptions-name {
        width: 100%;
        padding: 35px 0;
        @include flex-row;
        background: rgba(255, 255, 255, .059);
      }

      .subscriptions-content {
        @include flex-column;
        justify-content: space-between;

        .price {
          font-size: 60px;
          font-weight: bold;
          //margin-top: 30px;
          transition: font-size .5s linear;
        }

        .period {
          font-size: 12px;
          //margin-top: 25px;
          opacity: .3;
        }

        .line {
          width: 60px;
          height: 5px;
          background: $button-background;
          //margin-top: 30px;
        }

        .license {
          @include flex-column;
          font-size: 18px;
          line-height: 30px;
          //margin-top: 25px;
          text-align: center;
        }


      }

      .button {
        @include button-purchase;
        font-size: 15px;
        margin-bottom: 30px;


      }


      &:hover {
        transform: scale(1.05, 1.05);
        background: rgba(0, 0, 0, .11);

        .subscriptions-name {
          background: rgba(0, 0, 0, .059);
        }

      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {

    h2 {
      font-size: 29px;
      line-height: 42px;
    }
    .subscription-pricing__price-wrapper {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;


      .subscription-pricing__price-container {

        .subscriptions-name {
          font-size: 25px;
        }

        .subscriptions-content {
          @include flex-column;
          justify-content: space-between;
          height: 250px;
          margin-top: 35px;
          padding-bottom: 30px;

          .price {
            font-size: 60px;
            font-weight: bold;
            transition: font-size .5s linear;
          }

          .period {
            font-size: 12px;
            opacity: .3;
          }

          .line {
            width: 60px;
            height: 5px;
            background: $button-background;
          }

          .license {
            @include flex-column;
            font-size: 18px;
            line-height: 30px;
            padding: 0 10px;

          }


        }

        .button {
          @include button-purchase;
          font-size: 15px;

        }


      }
    }
  }

  @media screen and (min-width: 481px) and (max-width: 992px) {
    h2 {
      font-size: 43px;
      line-height: 42px;
      margin-top: 25px;
    }
    .subscription-pricing__price-wrapper {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;


      .subscription-pricing__price-container {

        .subscriptions-name {
          font-size: 25px;
        }

        .subscriptions-content {
          @include flex-column;
          justify-content: space-between;
          height: 250px;
          margin-top: 35px;
          padding-bottom: 30px;

          .price {
            font-size: 60px;
            font-weight: bold;
            transition: font-size .5s linear;
          }

          .period {
            font-size: 12px;
            opacity: .3;
          }

          .line {
            width: 60px;
            height: 5px;
            background: $button-background;
          }

          .license {
            @include flex-column;
            font-size: 18px;
            line-height: 30px;
            padding: 0 10px;

          }


        }

        .button {
          @include button-purchase;
          font-size: 15px;

        }


      }
    }
  }

  @media screen and (min-width: 993px) {
    h2 {
      font-size: 43px;
      line-height: 42px;
      margin-top: 25px;
    }
    .subscription-pricing__price-wrapper {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 45px;


      .subscription-pricing__price-container {

        .subscriptions-name {
          font-size: 25px;
        }

        .subscriptions-content {
          @include flex-column;
          justify-content: space-between;
          height: 250px;
          margin-top: 35px;
          padding-bottom: 30px;

          .price {
            font-size: 60px;
            font-weight: bold;
            transition: font-size .5s linear;
          }

          .period {
            font-size: 12px;
            opacity: .3;
          }

          .line {
            width: 60px;
            height: 5px;
            background: $button-background;
          }

          .license {
            @include flex-column;
            font-size: 18px;
            line-height: 30px;
            padding: 0 10px;
            box-sizing: border-box;
          }


        }

        .button {
          @include button-purchase;
          font-size: 15px;

        }


      }
    }
  }
}







