$header-background: #27262a;
$button-background: #8d81ac;
$button-color: #fff;
$heading-text-color: #8d81ac;
$text-color: #323232;
$second-text-color: #848e97;
$text-font-family: 'Lato', sans-serif;
$second-background-color: #f4f4f4;
$subscription-pricing-background: #4b3b4e;
