@import "variables";
@import "mixins";

.what-you-get {
  background-color: $second-background-color;
  padding: 35px 10px;
  @include flex-column;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    font-size: 32px;
    color: $heading-text-color;
    text-align: center;
    font-weight: bold;
  }

  .editor {
    width: 100%;
    margin-top: 40px;
  }

  .content-container {
    padding: 35px 10px 0 10px;

    img {

    }

    h3 {
      color: $text-color;
      text-align: center;
    }

    p {
      color: $second-text-color;
      font-family: $text-font-family;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {

    h2 {
      font-size: 32px;
    }

    .editor {
      display: none;
    }
    .content-container {
      @include flex-column;

      img {

      }

      .wrapper {

        h3 {
          font-size: 17px;
          padding: 30px 0 20px 0;
        }

        p {
          font-size: 14px;
          text-align: center;

        }
      }
    }

  }

  @media screen and (min-width: 481px) and (max-width: 992px) {
    h2 {
      font-size: 32px;
    }

    .content-container {
      @include flex-row;

      .img-wrapper {
        width: 270px;
        @include flex-row;

        img {

        }
      }

      .wrapper {
        margin-left: 35px;
        @include flex-column;
        align-items: flex-start;

        h3 {
          font-size: 17px;
          margin-bottom: 15px;

        }

        p {
          font-size: 14px;
          text-align: left;
          line-height: 21px;
        }
      }
    }
  }

  @media screen and (min-width: 993px) {
    position: relative;
    align-items: start;
    justify-content: start;


    .editor {
      width: 48%;
      position: absolute;
      left: 50%;
      top: 20%;
      transition: width .5s ease-in-out, left .5s ease-in-out, top .5s ease-in-out;
      border-radius: 15px;
      z-index: 3;


      &:hover {
        width: 80%;
        left: 20%;
      }

    }

    h2 {
      font-size: 41px;
      position: absolute;
      left: 50%;
      margin-top: 20px;
    }

    .what-you-get__content {
      width: 45%;

      .content-container {
        @include flex-row;

        .img-wrapper {
          width: 270px;
          @include flex-row;

          img {

          }
        }

        .wrapper {
          margin-left: 35px;
          @include flex-column;
          align-items: flex-start;

          h3 {
            font-size: 17px;
            margin-bottom: 15px;

          }

          p {
            font-size: 14px;
            text-align: left;
            line-height: 21px;
          }
        }

      }


    }


  }
}