

.footer__links-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__link {
    font-size: 24px;
    color: var(--footer-text);
    text-decoration: none;
    margin-right: 20px;
}


