
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #eeeeee;
}

.main-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    width: 70vw;
    list-style: none;
    margin: 1vw;
    padding: 3vw;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 1vw;
    background: lightgrey;
}

.second-ul {
    width: unset;
    list-style: circle;
    margin: 1vw;
    padding: 3vw;
    box-sizing: border-box;
    border: none;
    border-radius: 1vw;
    background: lightgrey;
}

li {
    margin: 1vw 0;
}
