.card--container {
    display: flex;
    flex-direction: column;
}

.card-container__items {
    display: flex;
    flex-direction: column;
}

.card-container__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 4vw;
    position: relative;
}

.empty-card {
    text-align: left;
    font-size: 2vw;
    margin-left: 1vw;
}

.card-container__total-price {
    position: absolute;
    font-size: 2vw;
    font-weight: 700;
    left: 1.5vw;
    bottom: .5vw;
}

