.btn {
    font-size: 1.5vw;
    letter-spacing: .1vw;
    outline: none;
    border: 1px solid #1b4f72;
    border-radius: 10vw;
    padding: .5vw 1.4vw;
    background: #2a90d4;
    color: white;
    filter: brightness(100%);
    transition: all .3s ease;
    margin: 0 1vw;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(120%);
    box-shadow: 0 0 5px #1a252f;
}

.btn-secondary {
    background: #fff;
    color: #1a252f;
    border: 1px solid #1a252f;

}

.btn-red {
    background: #e12e1c;
    color: white;
    border: 1px solid #78281f;
}

.btn-close {
    background: #e12e1c;
    color: white;
    border: 1px solid #78281f;
    padding: .33vw;
    border-radius: .172vw;
    transform: scaleX(1.28);
    position: absolute;
    right: 1vw;
    top: 1vw;
    margin: 0;
    z-index: 100;
}

.btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.5vw;
    line-height: 1.5vw;
    background: #e6ebf1;
    color: #1a252f;
    border: 1px solid #333333;
    border-radius: .2vw;
}


