.card-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1vw 0;
    font-size: 2vw;
}

.card-item__name {
    width: 10vw;
    font-weight: 700;
}

.card-item__price {
    width: 5vw;
}

.card-item input {
    box-sizing: border-box;
    padding: .3vw .7vw;
    width: 10vw;
    font-size: 1.5vw;
    margin: 0 .5vw;
}

.card-item .btn-close {
    position: static;
}

.card-item__total-price {
    width: 25vw;
    text-align: right;
}