.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 140px;
}

.header__navbar-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__navbar-search-ico {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}