.banner {
    width: 100%;
    position: relative;
    margin: 45px 0;
}

.banner img {
    object-fit: cover;
    filter: brightness(.2);
    top: 0;
    left: 0;
    z-index: -1;
}

.banner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}


.banner__wrapper p {
    width: 40%;
    font-size: 56px;
    color: #fff;
    line-height: 1.286;
    text-align: center;
    margin-bottom: 50px;
}
