body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

td {
    width: 25vw;
    height: 10vh;
    color: #484848;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid lightgrey;
    /*box-shadow: -5px 0 5px -5px lightgrey;*/

}

.td__btn {
    height: 17.5vh;
}

.standard {
    background-color: #89c331;
    color: #fff;
    font-size: 24px;
}

.ultimate {
    background-color: #f04a56;
    color: #fff;
    font-size: 24px;

}

.premium {
    background-color: #20807c;
    color: #fff;
    font-size: 24px;

}

.choose__your {
    font-size: 18px;
}

.pricing__plan {
    font-size: 30px;
}

.ico {
    margin-right: 15px;
}

.bold {
    font-weight: bold;
}

.price__td {
    display: flex;
    justify-content: center;

}

.price__first__part{
    font-size: 60px;
}

.price__second__part{
    font-size: 24px;
}

.price__third__part{
    font-size: 18px;
}


.price__secondary__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.button {
    display: block;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    margin: auto;
    line-height: 49px;
    vertical-align: center;
    color: #fff;
    transition: font-size 1s;
}

.button:hover {
    background: #fff;
    font-size: 18px;

}

.contact__us__btn {
    background: linear-gradient(to bottom, #484848 85%, #404040 15%);
}

.contact__us__btn:hover {
    border: 1px solid #484848;
    color: #404040;
    box-shadow: 0 0 2px #404040;
}

.standard__btn {
    background: linear-gradient(to bottom, #89c331 85%, #79b027 15%);
}

.standard__btn:hover {
    border: 1px solid #89c331;
    color: #79b027;
    box-shadow: 0 0 2px #79b027;

}

.ultimate__btn {
    background: linear-gradient(to bottom, #f04a56 85%, #df3a46 15%);
}

.ultimate__btn:hover {
    border: 1px solid #f04a56;
    color: #df3a46;
    box-shadow: 0 0 2px #df3a46;

}

.premium__btn {
    background: linear-gradient(to bottom, #20807c 85%, #16736f 15%);
}

.premium__btn:hover {
    border: 1px solid #20807c;
    color: #16736f;
    box-shadow: 0 0 2px #20807c;

}

.lightgrey {
    background-color: #f2f2f2;
}

.grey {
    background-color: #e3e3e3;
}

.darkgrey {
    background-color: #dddddd;
}




