body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #ffa600;
  padding-top: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}
