
.btn {
    box-sizing: border-box;
    padding: .5vw 1vw;
    outline: none;
    font-size: 110%;
    margin: .5vw 1vw;
    border-radius: .5vw;
    border: none;
}

.btn:hover {
    box-shadow: 0 0 15px darkgrey;
}

.btn-primary {
    color: #fff;
    background: rgba(0, 0, 0, .5);
}

.btn-secondary {
    color: #333333;
    background: rgba(255, 255, 255, .5);
}

.btn-danger {
    color: #fff;
    background: #e12e1c;
    border: 1px solid white;
}