body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pregame-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pregame-form .wrapper {
    display: flex;
    align-items: center;
    margin: 1vw 0;
    width: 20vw;
    justify-content: space-between;
}

.pregame-form h2 {
    font-size: 3vw;
}

[type="radio"] {
     width: 3vw;
     height: 3vw;
    margin-right: 2vw;
 }

label {
    font-weight: bold;
    color: grey;
    font-size: 2.5vw;
}

[for="input-hard"]:hover {
    color: salmon;
}

[for="input-medium"]:hover {
    color: lightskyblue;
}

[for="input-easy"]:hover {
    color: lightgreen;
}


[type="submit"] {
    padding: 3vw 6vw;
    box-sizing: border-box;
    font-size: 3vw;
    border-radius: 25vw;
    outline: none;
    margin-top: 2vw;
    cursor: pointer;
    transition: 1s ease;
}


[type="submit"]:hover {
   filter: brightness(70%);

}

[type="submit"]:focus {
    outline: none;
}

table {
    transition: 1s ease;
}

tr {

}



td {
    border: 1px solid lightgrey;
    width: 3vw;
    height: 3vw;
    margin: .3vw;
}

.computer-container {
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     position: absolute;
     top: 3vw;
     left: 5vw;
    transition: 1s ease;

}

.computer-container h2 {
    color: lightcoral;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 1.5vw;
}

.computer-counter {
    font-size: 2.5vw;
    color: #24292e;
}

.human-container {
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 3vw;
    right: 5vw;
    transition: 1s ease;
}

.human-container h2 {
    color: lightgreen;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 1.5vw;

}

.human-counter {
    font-size: 2.5vw;
    color: #24292e;
}

.win-message {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    color: #24292e;
    font-size: 5vw;
    font-weight: bold;
    transition: 1s ease;
    transform: translateY(-10vw);
}

.win-animate {
    animation: win-anim 2s ease;
}

@keyframes win-anim {
    from {
        transform: translateY(-10vw);
    }
    25% {
        transform: translateY(10vw);
    }
    75%{
        transform: translateY(10vw);
    }
    to{
        transform: translateY(-10vw);
    }
}