.modal {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;

}

.modal__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    background: rgba(0, 0, 0, .8);
}

.modal__container {
    width: 70vw;
    box-sizing: border-box;
    padding: 0;
    padding-top: 4vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: #fff;
    border: 1px solid lightgrey;
    border-radius: 1vw;
    z-index: 12;
    position: relative;
}

.modal__title {
    position: absolute;
    font-size: 2vw;
    font-weight: 700;
    top: 1vw;
    left: 1vw;
    padding: 0!important;
    margin: 0!important;
}
.modal--show .modal__container {
    animation: modal-fadein-transform .3s ease;
}

.modal__content-container {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1vw;
    padding: 1vw 0;
    border-top: 1px solid lightgray;
}

.modal--show {
    display: flex !important;
    animation: modal-fadein .3s ease;
}

@keyframes modal-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-fadein-transform {
    from {
        opacity: 0;
        transform: translateY(-5vw);
    }
    to {
        opacity: 1;
        transform: translateY(0vw);
    }
}

