@import "../../styles/css/variables.css";

@keyframes scale {
        0% {
            transform: scale(1);
        }
        50%,
        75% {
            transform: scale(1.55);
        }
        78%, 100% {
            opacity: 1;
        }
    }




.preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-delay: 1s;
    box-sizing: border-box;
    padding: 120px 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


    .preloader-item {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--button-collor--main);
        margin: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .preloader-item:before {
     content: '';
     width: 10px;
     height: 10px;
     border-radius: 50%;
        background: var(--button-collor--main);
        opacity: 0.7;
     animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
     animation-delay: 200ms;
     transition: 0.5s all ease;
     transform: scale(1);
 }

    .preloader-item-1:before {
        animation-delay: 300ms;
    }

    .preloader-item-2:before {
        animation-delay: 600ms;
    }

    .preloader-item-3:before {
        animation-delay: 900ms;
    }

.preloader-description {
    font-size: 22px;
    color: rgba(36, 43, 45, 0.349);
    line-height: 1.5;
    text-align: center;
    margin-top: 20px;
}
