.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    box-sizing: border-box;
    padding: 1vw;
    border: 1px solid lightgray;
    border-radius: 2vw;
    box-shadow: 0 0 10px lightgrey;
    font-size: 1.5vw;
}

.product-item:hover .product-item__img-container{
    animation: hover-hello .6s ease-in-out infinite;
}

.product-item__img-container {
    width: 22vw;
    height: 22vw;
    overflow: hidden;
    border-radius: 1vw;
    transform-origin: top;
    transition: .3s ease;
    cursor: pointer;
}
.product-item__img-container img{
    width: 100%;
}

.product-item__img-container:hover {
    box-shadow: 0 0 10px grey;
}

.product-item h3 {
    margin: 1vw 0;
    font-size: 2.5vw;
}
.product-item span {
    margin-bottom: 2.5vw;
}

@keyframes hover-hello {
    from {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-1deg);
    }
    35% {
        transform: rotate(1deg);
    }
    45% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(0deg);
    }
}



