.wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    z-index: 10;
    cursor: pointer;
}

.day {
    min-width: 60vw;
    max-width: 80vw;
    border: 1px solid grey;
    border-radius: 3px;
    background: white;
    transition: .3s ease;
    overflow: hidden;
    z-index: 11;
    cursor: auto;
    transform: translate3d(0, 0, 0);
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 1vw;
    padding-left: 1.5vw;
    border-bottom: 1px solid grey;
    background: #f9f9f3;
    transition: .15s ease;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 1vw;
}

.content img {
    width: 20vw;
}

.contentWrapper {
    margin-left: 2vw;
}
.content h3 {
    margin: 1vw 0;
    text-align: left;
    font-size: 3.5vw;
}

.team {
    font-weight: 600;
    font-size: 2.5vw!important;
}

.content p {
    margin: 1vw 0;
    text-align: left;
    font-size: 1.5vw;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5vw;
}



