.day {
    height: 100px;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 1px;
    background: white;
    transition: .3s ease;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.day:hover .title{
    background: #EF524C;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 3px;
    padding-left: 10px;
    border-bottom: 1px solid grey;
    background: #f9f9f3;
    transition: .15s ease;
}
.past .title {
    filter: brightness(80%);
}

.content h5 {
    font-size: 12px;
    margin: 10px 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content span {
    font-weight: 300;
    font-size: 10px;
}

.d0 {
    grid-area: Sun;
}

.d1 {
    grid-area: Mon;
}

.d2 {
    grid-area: Tue;
}

.d3 {
    grid-area: Wed;
}

.d4 {
    grid-area: Thu;
}

.d5{
    grid-area: Fri;
}

.d6{
    grid-area: Sat;
}

