@import "../../styles/css/variables.css";

.btn {
    box-sizing: border-box;
    padding: 10px 50px;
    border-radius: 6px;
    color: #fff;
    font-size: 28px;
    transition: var(--transition);
    border: 1px solid transparent;
    margin: 0 10px;
}

.btn-light {
    padding: 10px 10px;
}

.btn-light:hover {
    color: var(--button-collor--main);
}

.btn-primary {
   background: var(--button-collor--main);
    border: 1px solid var(--button-collor--main);
}

.btn-primary:hover {
    background: unset;
}


.btn-outline {
    border: 1px solid #fff;
}

.btn-outline:hover {
    box-shadow: 0 0 10px white;
}
