.shopping-cart {
    padding: 2vw;
    box-sizing: border-box;
}
.shopping-cart span {
    display: inline-block;
}

.shopping-cart__item-text {
    width: 35vw;
}

.shopping-cart__item-quantity {
    width: 5vw;
}