body {
  background: #848e97;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}
