.product {
    width: 20vw;
    padding: .6vw;
    border-radius: .2vw;
    border: 1px solid grey;
    font-weight: bolder;
    cursor: pointer;
    color: grey;
    margin: 1vw;

}

.product:hover {
    box-shadow: 0 0 10px grey;
    color: black;

}