
.modal {
    display: none;
    flex-direction: column;
    width: 40vw;
    position: fixed;
    top: 20vw;
    left: 50%;
    margin-left: -10vw;
    opacity: 0;
    transition: .5s ease;
    color: #fff;
    box-sizing: border-box;
    padding: 1vw 2vw;
    border-radius: 1vw;
}

.modal--active {
    display: flex;
    opacity: 1;
}

.modal .header {
    width: 100%;
    background: rgba(0, 0, 0, .6);
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.modal .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 4vw 0;
}

.modal .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
}

.modal-primary {
    background: #848e97;
    border: 1px solid grey;
}



