.form {
    width: 50%;
    box-sizing: border-box;
    padding: 1vw;
}

.form input {
    border-width: 1px;
    border-color: #ced4da;
    border-style: solid;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 25px;
    outline: none;
    transition: .3s ease;
    font-size: 15px;
    appearance: none;
}