@import "mixins";
@import "variables";

//@media screen and (min-width: 320px) and (max-width: 1199px) {}
//@media screen and (min-width: 1200px) {}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .contacts__main__container {
    width: 100vw;
    border: 5px solid #F38A03;
    box-sizing: border-box;
    color: #fff;
    background: $background-color;
    z-index: 122;
    position: relative;
    @include flex-column;


  }

  .contacts__main__container h2 {
    margin-top: 45px;
  }

  .contacts__content__container {
    min-width: 220px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    align-content: center;
  }

  .contacts__content__element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .wrapper {
      @include flex-column;
    }
  }

  .contacts__content__element span {
    display: none;
  }
  .contacts__content__element a {
    margin: 3px 27px;
    &:hover {
      color: $link-hover-color;
    }
  }

  .contacts__content__container:last-child {
    margin-bottom: 20px;
  }


  a:hover {
    color: #ED1260;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__main__container {
    min-width: 1280px;
    box-sizing: border-box;
    color: #fff;
    background: #151616;
    z-index: 122;
    position: relative;
    @include flex-column;

  }

  .contacts__main__container h2 {
    width: 70vw;
    margin-top: 26px;
    font-size: 45px;
    text-align: center;
  }

  .contacts__content__container {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-content: center;
    font-size: 25px;
  }

  .contacts__content__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    .wrapper {
      @include flex-column;
    }
  }

  .contacts__content__element img {
    width: 4vw;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .contacts__content__element span {
    margin: 3px 27px;
  }

  .contacts__content__element a {
    margin: 3px 27px;

    &:hover {
      color: $link-hover-color;
    }
  }

  .contacts__content__container:last-child {
    margin-bottom: 20px;
  }


}