@import "mixins";
@import "variables";

//@media screen and (min-width: 320px) and (max-width: 1199px) {}
//@media screen and (min-width: 1200px) {}


  .energy-gym__main-container {
    width: 100vw;
    height: 460px;
    background: url("../img/main-background.png") no-repeat;
    background-size: cover;
    position: relative;
  }

  .energy-gym__energy-gym {
    padding: 41px 31px;
    background: #000;
    color: #fff;
    font-size: 32px;
    margin-top: 45px;
    margin-left: 12px;
    position: absolute;
  }

  .energy-gym__website {
    padding: 7px 32px;
    background: #000;
    color: #fff;
    font-size: 22px;
    margin-top: 180px;
    margin-left: 75px;
    position: absolute;
    text-decoration: underline;
  }



@media screen and (min-width: 1200px) {
  .energy-gym__main-container {
    width: 90vw;
    height: 513px;
    background: url("../img/background-desktop.png") no-repeat;
    background-size: cover;
    position: relative;
  }

  .energy-gym__energy-gym {
    padding: 53px 46px;
    background: #000;
    color: #fff;
    font-size: 2.5vw;
    margin-top: 80px;
    margin-left: 44px;
    position: absolute;
  }

  .energy-gym__website {
    padding: 14px 55px;
    background: #000;
    color: #fff;
    font-size: 2vw;
    margin-top: 280px;
    margin-left: 115px;
    position: absolute;
    text-decoration: underline;
  }
}
