@import "../../styles/css/variables.css";

.rating-span {
    border: 2px solid var(--button-collor--main);
    border-radius: 6px;
    box-sizing: border-box;
    padding: 5px 11px;
    color: #fff;
    font-size: 24px;
}

.rating-span--secondary {
    color: var(--button-collor--main);
}
