body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul {
    list-style: none;
    font-size: 2vw;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.button {
    box-sizing: border-box;
    padding: 1vw 2vw;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    background: lightcoral;
    border: 1px solid coral;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    cursor: pointer;
    filter: brightness(50%);
    transition: .2s ease;
}

.button:hover {
    filter: unset;
    box-shadow: 0 0 20px black;
}

.container {
    width: 100vw;
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
