@import "variables";
@import "mixins";


footer {
  width: 100vw;
  background-color: #000;
  color: #fff;
  @include flex-column;
  padding: 2vw 0;

  a {
    color: #fff;
  }

  h2 {
    text-align: center;
    color: #fff;

  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    h2 {
      font-size: 4vw;
      margin: 3vw 0;
    }

    p {
      font-size: 2.5vw;
    }

    a {
      font-size: 2.5vw;
      margin-bottom: 1.5vw;

      &:hover {
        color: $link-hover-color;
      }
    }

    .ico__container {
      img {
        width: 7vw;
        margin: 2vw 1vw;

        &:hover {
          animation: footer__link .5s linear infinite;
        }
      }
    }

  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    h2 {
      font-size: 4vw;
      margin: 3vw 0;
    }

    p {
      font-size: 2.5vw;
    }

    a {
      font-size: 2.5vw;
      margin-bottom: 1.5vw;

      &:hover {
        color: $link-hover-color;
      }
    }

    .ico__container {
      img {
        width: 7vw;
        margin: 3vw 1vw;

        &:hover {
          animation: footer__link .5s linear infinite;
        }
      }
    }

  }

  @media screen and (min-width: 1200px) {
    h2 {
      font-size: 3vw;
      margin: 2vw 0;
    }

    p {
      font-size: 1.5vw;
    }

    a {
      font-size: 1.5vw;
      margin-bottom: 1.5vw;

      &:hover {
        color: $link-hover-color;
      }
    }

    .ico__container {
      img {
        width: 5vw;
        margin: 2vw 1vw;

        &:hover {
          animation: footer__link .5s linear infinite;
        }
      }
    }

  }
}

@keyframes footer__link {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(3px);
  }

  66% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);

  }

}