@import "variables";
@import "mixins";


header {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 90vw;
    height: 60px;
    @include flex-row;
    justify-content: flex-end;


    nav {
      display: none;
      position: absolute;
      left: 100%;
      margin-left: -25vw;
      top: 49px;


      ul {
        width: 25vw;
        list-style: none;
      }

      a {
        color: $text-color;
        font-size: 2.5vw;

        &:hover {
          color: $link-hover-color;
        }
      }

      li {
        line-height: 5vw;
        border-bottom: 2px solid $header-focus-color;
        padding-left: 12px;
        background-color: #fff;

        &:hover {
          background: $header-focus-color;
        }

      }
    }

    .button {
      width: 44px;
      height: 37px;
      background: $main-color;
      @include flex-column;
      color: #fff;
      float: right;
      position: relative;
      cursor: pointer;
    }

    i.fa-bars {
      transform: scaleX(1.4);
    }

    i.fa-times {
      font-size: 3vw;
    }

  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: 768px;
    max-width: 1200px;
    height: 60px;
    @include flex-row;


    nav {
      @include flex-row;
      display: unset;

      ul {
        @include flex-row;
        list-style: none;
      }

      a {
        color: $text-color;
        font-size: 1.3vw;

        &:hover {
          color: $link-hover-color;
        }
      }


      li {
        line-height: 22px;
        padding: 0 15px;
      }
    }

    .button {
      display: none;
    }


  }

  @media screen and (min-width: 1200px) {
    min-width: 1200px;
    height: 60px;
    @include flex-row;


    nav {
      display: none;
    }

    i {
      display: none !important;
    }

  }
}