@import "variables";
@import "mixins";

main {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    @include flex-column;

    .intro__image__container {
      width: 90vw;
      height: 50vw;
      background: url("../img/intro-img-mob.png") no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include flex-column;

    .intro__image__container {
      width: 90vw;
      height: 50vw;
      background: url("../img/intro-img-tablet.png") no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: 1200px) {
    @include flex-column;

    .intro__image__container {
      width: 90vw;
      height: 50vw;
      background: url("../img/intro-img-dt.png") no-repeat;
      background-size: cover;
    }
  }
}


