.calendar {
    width: 85vw;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    margin: 2vw auto;
    background: #fff;
}

.calendar table {
    width: 100%;
    border-spacing: 0;
}

.calendar tr {
    width: 100%;
}

.title {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #EF524C;
    color: white;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}

.title h1 {
    min-width: 30%;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 1.5vw;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextPrevButtons {
    border: none;
    border-radius: 50%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5vw;
    cursor: pointer;
    transition: .3s ease;
    margin: 0 .8vw;
    background: none;
}

.nextPrevButtons:hover {
    background: rgba(255, 255, 255, .2);
}

.nextPrevButtons img {
    width: 1.2vw
}

.daysTitle {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1vw 0;
}

.buttonContainer {
    width: 100%;
    padding: 2vw 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}
