.footer {
    width: 100%;
    color: rgba(36, 43, 45, 0.4);
    background: #fff;
    box-sizing: border-box;
    padding: 80px 140px;
    position: relative;
}

.footer__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer .header__logo {
    position: absolute;
    width: 250px;
    top: 80px;
    left: 50%;
    margin-left: -125px;
}