
.btn {
    border-radius: 4px;
    width: 210px;
    height: 38px;
    outline: unset;
    border: unset;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    font-weight: bolder;
    line-height: 1.2;
    text-align: center;
    transition: .3s ease;
    cursor: pointer;
}

.btn-primary {
    background: #EF524C;
    color: #fff;
}

.btn-primary:hover {
    background: #d24335;
}

.btn-flat {
    width: unset;
    height: unset;
    background: unset;
    color: #EF524C;
}

.btn-flat:hover {
    color: #d24335;
}

.btn--hide {
    visibility: hidden;
}



