
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: lightblue;
}

.post-container {
    width: 90vw;
    background: white;
    border: 1px solid grey;
    border-radius: 1vw;
    margin: 2vw 0;
    padding: 2vw;
    box-sizing: border-box;
}


.description {
    font-size: 2vw;
    opacity: .8;
}

.change-modal {
    width: 40vw;
    position: fixed;
    top: 20vh;
    left: 50%;
    margin-left: -20vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2vw;
    border: 1px solid grey;
    box-shadow: 0 0 10px black;
    background: lightcyan;
}