* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
header {
    width: 100vw;
    height: 15vh;
    background: #24292e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    box-sizing: border-box;
}

.add-new-card {
    width: 21vw;
    height: 4vw;
    border-radius: 25vw;
    outline: none;
    background: white;
    font-size:2vw;
    font-weight: bold;
}

.add-new-card:focus {
    outline: none;
}

.add-new-card:hover {
    box-shadow: 0 0 10px white;
}

.main-container {
    width: 100vw;
    min-height: 85vh;
    /*background: lightgrey;*/
    padding: 2vw;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}


.card {
    position: relative;
    width: 20vw;
    min-height: 20vh;
    background: lightyellow;
    border: 1px solid grey;
    border-radius: 1vw;
    margin: 8vw 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    box-sizing: border-box;
}

.add-task-button {
    position: absolute;
    top: 110%;
    left: 0;
    width: 8vw;
    height: 3vw;
    border-radius: 1vw ;
    outline: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.task {
    max-width: 18vw;
    min-width: 18vw;
    margin: 1vw 0;
}

.ok-button {
    width: 4vw;
    height: 3vw;
    border-radius: 1vw ;
    outline: none;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1vw 0;
}

.task-span {
    display: block;
    position: relative;
    width: 18vw;
    padding: .5vw;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 1vw;
    background: white;
    margin: 1vw;
}

.sort-button {
    position: absolute;
    top: -5vw;
    left: 0;
    width: 5vw;
    height: 3vw;
    border-radius: 1vw ;
    outline: none;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1vw 0;
}