.header {
    width: 100vw;
    box-sizing: border-box;
    padding: 1vw;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(100, 100, 100, .7);
    transform: translate3d(0, 0, 0);
    z-index: 100;
}

.header .btn {
    margin-right: 1.5vw;
}