@import "../../styles/css/variables.css";

.tab-item {
    font-size: 28px;
    color: var(--button-collor--main);
    box-sizing: border-box;
    padding: 19px 0;
    margin-right: 60px;
}

.tab-item--active {
    font-weight: bold;
    border-bottom: 2px solid var(--button-collor--main);
}
