
.header {
    width: 100vw;
    height: 1100px;
    background: url("../../../../assets/images/header-background.png");
    background-size: cover;
}

.header-wrapper {
    width: 100%;
    height: 100%;
    background: url("../../../../assets/images/header-background-wrapper.png") no-repeat;
    background-size: 100%;
    background-position-y: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

