
.header__description {
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    padding: 60px 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
}

.header__description-right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header__description-right-section h2 {
    font-size: 60px;
    margin-bottom: 30px;
}

.header__description-right-section__category-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.header__category-span {
    font-size: 24px;
    margin-right: 30px;
}

.header__category-span--margin-left {
    margin-left: 30px;
    margin-right: 0;
}

.header__description-right-section__rating-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.header__description-left-section {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    bottom: 60px;
    right: 140px;
}
.more-ico {
    margin-left: 10px;
}
