.content-item {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    overflow: hidden;
    position: relative;
    background: #fff;
    border-radius: 10px;
}

.content-item__img-wrapper {
    height: 440px;
    overflow: hidden;
    position: relative;
    top: -20px;

}

.content-item__img-wrapper img {
    object-fit: cover;
}

.content-item__description {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    font-size: 24px;
    position: relative;

}

.content-item__description-category {
    font-weight: bold;
    font-size: 22px;
    color: var(--button-collor--main);
    margin-top: 20px;
}

.content-item__description-category-span {
    margin-right: 10px;
}

.content-item__description .rating-span {
    position: absolute;
    right: 40px;
    top: 50px;
}


